
*.user
*.suo
/RecursiveCleaner/bin
/RecursiveCleaner/obj
/Engine/bin
/Engine/obj
/Tests/obj
/Tests/bin
/Tests/TestResult.xml
/Tests/Tests.csproj.VisualState.xml
/Installer/Output/SetupRecursiveCleaner.exe